# functions
## Built-in functions

In [1]:
print(chr(97))

a

In [3]:
print(input("enter a value "))

enter a value 5
5

In [4]:
print(ord('a'))

97

In [5]:
print(bin(5))

0b101

In [6]:
print(min(1,4,2))

1

In [7]:
print(max(7,9,23))

23

In [8]:
print(type(5))

<class 'int'>

In [10]:
print(type(89))

<class 'int'>

In [14]:
print(range(1,5))

range(1, 5)

In [15]:
a=20;b=50
min(a,b)

20

In [19]:
a=int(input("enter a value"))
b=int(input("enter a value"))
min(a,b)

enter a value10
enter a value20

10

In [21]:
a=(input("enter a value"))
b=(input("enter a value"))
print(type(int(min(a,b))))

enter a value10
enter a value20
<class 'int'>

In [23]:
range(6)

range(0, 6)

In [25]:
for i in range(1,10,4):
    print(i)

1
5
9

In [27]:
for i in range(1,10,4):# range(start,end,step)
    print(i,end="")

159

In [28]:
for i in range(1,10,4):
    print(i,end="\n")

1
5
9

### user defined functions

* Without arguments & without return values
* Without arguments & with return Value
* With arguments & without return values
* With arguments & return values

#### Without arguments & without return values

## syntax:

def function_name(arguments):
    statements
    body of the function

In [33]:
def add():
    a=10
    b=20
    print(a+b)
add()

30

### without arguments and with return values

In [34]:
def mul():
    a=5
    b=4
    return(a*b)
mul()

20

### with arguments and without return values

In [41]:
def add(a,b):
    a=20
    b=50
    print(a+b)
add(a,b)

70

In [42]:
def mul(a,b):
    print(a+b)
mul(9,5)

14

In [45]:
def mul(a,b):
    print(a*b)
mul(int(input()),int(input()))

2
3
6

### with arguments and with return values

In [46]:
def sub(a,b):
    return(a-b)
sub(int(input()),int(input()))

5
3

2

In [48]:
def sub(a,b):
    return(a-b)
sub(3,5)

-2

In [49]:
def div(a,b):
    return(a/b)
div(5,6)

0.8333333333333334

In [51]:
def div(a,b):
    return(int(a/b))
div(5,6)

0

## function types in python

* Required arguments
* Keyword arguments
* Default arguments
* Variable length arguments

#### required arguments

In [52]:
add(1)

TypeError: add() missing 1 required positional argument: 'b'

In [59]:
add(5,3)

70

#### keyword arguments

In [57]:
def keyword(name,branch):
    print(name,branch)
keyword(name="manasa",branch="cse")

manasa cse

In [58]:
def keyword(name,branch):
    print(name,branch)
keyword(branch="cse",name="manasa")

manasa cse

#### default arguments

In [63]:
def default(name,roll=99):
    print(name,roll)
default("manasa")

manasa 99

In [65]:
def default(name="manasa",roll=99):
    print(name,roll)
default()

manasa 99

In [68]:
def default(name,roll=99):
    print(name,roll)
default(input())

manasa
manasa 99

#### variable length arguments

In [71]:
def var_len(*values):
    print(*values)
var_len("manasa","teja","sathvika")

manasa teja sathvika

In [70]:
def var_len(*values):
    print(*values)
var_len(1,34,2,6)

1 34 2 6

In [72]:
def var_len(*values):
    print(min(*values))
var_len(1,34,2,6)

1

In [73]:
def var_len(*values):
    print(max(*values))
var_len(1,34,2,6)

34

In [75]:
def var_len(*values):
    print(max(*values))
var_len(input())

1,2,3,4
4

# tasks

#### Function to print all numbers divisible by 6 and not a factor of 100 in a given range(lb, ub) inclusive

def div(lb,ub):
    for i in range(lb,ub+1):
        if i%6==0 and 100%i!=0:
            print(i)
div(1,100)

In [84]:
lb=1
ub=100
for i in range(lb,ub+1):
        if i%6==0 and 100%i!=0:
            print(i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

#### Function to find the average of cubes of all the even numbers in a given range(lb, ub) inclusive

In [105]:
def avg(lb,ub):
    count=0
    s=0
    for i in range(lb,ub+1):
        if(i%2==0):
            s=s+i**3
            count+=1
    print(s/count)       
avg(1,10)

360.0

#### Function to calculate the factorial of a given number

In [127]:
def fac(f):
    fact=1
    i=1
    for i in range(1,f+1):
        fact=fact*i
        i=i+1
    print(fact)
fac(int(input()))

4
24

#### Function to generate the list of factors for a given number

In [160]:
def factors(f):
    for i in range(1,f):
        if(f%i==0):
            print(i)
factors(10)

1
2
5

####  Function to calculate the average of all factorials in a given range

# additional problems

In [157]:
def factorial(lb,n):
    s=0
    f=0
    for i in range(lb,n+1):
        fact=1
        f=f+1
        for j in range(1,i+1):
            fact=fact*i
            s=s+fact
    print(s/f)
factorial(5,10)

1927858968.1666667

#### Function to generate Multiplication table for a number in a given range
* 10 in the range(100, 102) inclusive
* 10 x 100 = 1000
* 10 x 101 = 1010
* 10 x 102 = 1020

In [156]:
def mul(lb,ub):
    n=10
    for i in range(lb,ub+1):
        m=n*i
        print(n,"*",i,"=",m)
mul(100,102)

10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020