# python basics

In [3]:
a=123
b=90
print(a,b)

123 90

In [6]:
a=123
type(float(a))

float

In [9]:
a="manasa"
type(a)

str

In [12]:
x=12
type(str(x))

str

In [14]:
a=99
s=str(a)
print(s)

99

In [15]:
input()

99

'99'

In [16]:
input(int())

099

'99'

In [17]:
input()

99

'99'

In [1]:
c=int(input())
type(c)

143

int

### Arithematic Operators
### Relational Operators
### Assignment Operators
### Logical Operators
### Bitwise Operators
### Indentation
### Membership Operators

* Arithematic operators

In [3]:
a=10
b=90
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)  #floor division

100
-80
900
0.1111111111111111
10
0

In [4]:
a**b #power

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [5]:
pow(a,b)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [6]:
a=2
b=3
print(a**b)

8

* Relational opertors

In [7]:
12==24

False

In [8]:
12!=24

True

In [9]:
12<24

True

In [11]:
12>24

False

* Assignment operators

In [14]:
a=20
b=89
c=90
print(a,b,c)

20 89 90

In [15]:
a=a++

SyntaxError: invalid syntax (<ipython-input-15-035a0a9c9e72>, line 1)

In [22]:
a=a+1
a

91

In [17]:
a+=1

In [18]:
a*=2

In [19]:
a=a*2

In [21]:
a=b=c
b

90

* logical operators

In [25]:
True and False

False

In [26]:
True or False

True

In [27]:
not True

False

In [28]:
not False

True

* Bitwise operators

In [29]:
4 & 7  # 4--100,7---111

4

In [30]:
4 |7

7

In [33]:
~4

-5

 * indentation

In [35]:
2==3

False

In [36]:
2 is 3

False

In [37]:
2 is not 3

True

* membership operators

In [38]:
a="padmavathi"
"k" in a

False

In [39]:
a="padmavathi"
"a" in a

True

In [40]:
a="padmavathi"
"a" not in a

False